[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
probnode = {editable = true, path = "."}
pytest = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.11"
